@page
@using SafeGarage_Server.Models.PageModels
@model IndexModel
@{
    <h1>Endpoints</h1>
    <form action="/GetStatus">
        <input type="submit" value="/GetStatus" />
    </form>
    <form action="/ToggleGarageDoor">
        <input type="submit" value="/ToggleGarageDoor" />
    </form>
    <form action="/SetCloseTime">
        <input type="submit" value="/SetCloseTime" />
        Close Time:<input type="text" name="closeTime" />
    </form>
}
