@page
@using SafeGarage_Server.Models.PageModels
@model IndexModel
@{
    <h1>Endpoints</h1>
    <a href="/GetStatus">/GetStatus</a><br />
    <a href="/SetCloseTime">/SetCloseTime</a><br />
    <a href="/ToggleGarageDoor">/ToggleGarageDoor</a><br />
}
